@charset "UTF-8";
@import 'reset.css';
@import 'https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap';
.header {
  width: 100%;
  height: 60px;
  background-color: #E9DED4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .wrapper {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.header .wrapper .logo__img {
  z-index: 2;
  height: auto; /* Сохранять пропорции логотипа */
}
@media (max-width: 1366px) {
  .header .wrapper {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (max-width: 768px) {
  .header .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main {
  height: 100vh;
  background-color: rgba(255, 114, 114, 0);
}
.main .chess-main {
  width: 100%;
  height: 700px;
  margin-top: -60px;
  background-color: #E9DED4;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Скрываются все элементы, выходящие за пределы блока */
  position: relative;
}
.main .chess-main__content {
  max-width: 1200px; /* Ширина контента */
  width: 100%;
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}
.main .chess-main__content p {
  width: 542px;
  font-family: "Merriweather", serif;
  font-size: 60px;
  font-weight: 400;
  color: #313131;
}
.main .chess-main__content .description {
  text-align: center;
  width: 542px;
  font-family: "Golos Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  color: #313131;
}
.main .chess-main__content .btns {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 40px;
}
.main .chess-main__content .btns .btn-add {
  width: 263px;
  color: #ffffff;
  font-size: 16px;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  background-color: #1F1F1F;
  padding: 12px 49px;
  border-radius: 66px;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
}
.main .chess-main__content .btns .btn-add:hover {
  color: #1F1F1F;
  background-color: #FBCE51;
}
.main .chess-main__content .btns .btn-details {
  width: 263px;
  color: #1F1F1F;
  font-size: 16px;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  border: 2px solid #1F1F1F;
  padding: 10px 85px;
  border-radius: 66px;
}
.main .chess-main__content .btns .btn-details:hover {
  color: #ffffff;
  background-color: #1F1F1F;
}
@media (max-width: 1366px) {
  .main .chess-main__content {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (max-width: 768px) {
  .main .chess-main__content {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-top: -260px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    position: relative;
  }
  .main .chess-main__content p {
    width: 100%;
    font-family: "Merriweather", serif;
    font-size: 36px;
    font-weight: 400;
    color: #313131;
  }
  .main .chess-main__content .description {
    text-align: left;
    width: 100%;
    font-family: "Golos Text", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
    color: #313131;
  }
  .main .chess-main__content .btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    width: 100%;
  }
  .main .chess-main__content .btns .btn-add {
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    background-color: #1F1F1F;
    padding: 12px 18px;
    border-radius: 66px;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
  }
  .main .chess-main__content .btns .btn-add:hover {
    color: #1F1F1F;
    background-color: #FBCE51;
  }
  .main .chess-main__content .btns .btn-details {
    width: 100%;
    color: #1F1F1F;
    font-size: 16px;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    background-color: #ffffff;
    border: none;
    padding: 10px 18px;
    border-radius: 66px;
  }
  .main .chess-main__content .btns .btn-details:hover {
    color: #ffffff;
    background-color: #1F1F1F;
  }
}
.main .chess-main .background_texture__img {
  mix-blend-mode: color-burn; /* Наложение с использованием эффекта "color burn" */
  opacity: 0.8;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Изображение масштабируется, чтобы заполнить контейнер, сохраняя пропорции */
}
.main .chess-main .background_chess__img {
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .main .chess-main {
    height: 812px;
  }
  .main .chess-main .background_chess__img {
    position: absolute;
    top: 50%;
    right: 0;
    width: auto;
    height: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.main .ticker {
  width: 100%; /* Ширина ленты */
  overflow: hidden; /* Скрываем текст за границами блока */
  background-color: #F54932; /* Цвет фона ленты */
  color: #fff; /* Цвет текста */
  white-space: nowrap; /* Запрещаем перенос текста на новую строку */
  box-sizing: border-box;
  padding: 10px 0; /* Отступы сверху и снизу */
  /* Анимация */
}
.main .ticker__content {
  font-size: 22px;
  font-family: "Merriweather", serif;
  display: inline-block;
  padding-right: 100px; /* Расстояние между повторяющимися блоками */
  animation: tickerAnimation 30s linear infinite; /* Анимация движения текста */
}
@keyframes tickerAnimation {
  0% {
    transform: translateX(0); /* Текст начинает справа */
  }
  100% {
    transform: translateX(-100%); /* Текст уходит влево за границы */
  }
}
.main .chess-title {
  height: 350px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .chess-title__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  font-size: 36px;
  font-family: "Merriweather", serif;
}
@media (max-width: 1366px) {
  .main .chess-title__content {
    padding-top: 72px;
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (max-width: 900px) {
  .main .chess-title__content {
    padding-top: 72px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }
}
@media (max-width: 768px) {
  .main .chess-title__content {
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.main .chess-title__content .text {
  width: 100%;
}
@media (max-width: 768px) {
  .main .chess-title__content .text {
    font-size: 28px;
  }
}
.main .chess-title__content .oval {
  top: 50%; /* Центрируем овал по вертикали */
  width: 394px;
  background-color: red; /* Цвет овала */
  border-radius: 50%; /* Делаем его овальным */
  overflow: hidden; /* Скрываем лишние части изображения */
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 450px) {
  .main .chess-title__content .oval {
    width: 300px; /* Изображение растянется по ширине овала */
    height: auto;
  }
}
.main .chess-title__content .oval img {
  width: 400px; /* Изображение растянется по ширине овала */
  height: auto;
  filter: brightness(80%); /* Затемняем изображение */
}
@media (max-width: 450px) {
  .main .chess-title__content .oval img {
    width: 300px; /* Изображение растянется по ширине овала */
    height: auto;
  }
}
@media (max-width: 1366px) {
  .main .chess-title {
    height: auto;
  }
}
@media (max-width: 900px) {
  .main .chess-title {
    height: 100%;
  }
}
.main .chess-table {
  height: 600px;
  padding-top: 32px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 1366px) {
  .main .chess-table {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
}
.main .chess-table__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  font-size: 36px;
  font-family: "Merriweather", serif;
}
@media (max-width: 1366px) {
  .main .chess-table__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 72px;
  }
}
@media (max-width: 768px) {
  .main .chess-table__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.main .chess-table__content .men_chess {
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: 0;
  width: 474px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; /* Изображение масштабируется, чтобы заполнить контейнер, сохраняя пропорции */
}
.main .chess-table__content .men_chess_fon {
  mix-blend-mode: color-burn;
  position: absolute;
  top: 0;
  width: 474px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .chess-table__content .table {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 1366px) {
  .main .chess-table__content .table {
    width: 100%;
  }
}
.main .chess-table__content .table .styled-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse; /* Убираем двойные границы */
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
}
@media (max-width: 500px) {
  .main .chess-table__content .table .styled-table {
    /* Убираем границы столбцов */
    /* Скрываем первую ячейку */
    /* Добавляем заголовок из data-label в ячейках */
  }
  .main .chess-table__content .table .styled-table tbody,
  .main .chess-table__content .table .styled-table tr,
  .main .chess-table__content .table .styled-table th,
  .main .chess-table__content .table .styled-table td {
    display: block;
    width: 100%;
  }
  .main .chess-table__content .table .styled-table td {
    border-right: none;
    padding: 10px;
    position: relative;
  }
  .main .chess-table__content .table .styled-table td:first-child {
    display: none;
  }
  .main .chess-table__content .table .styled-table td:last-child:before {
    content: attr(data-label); /* Динамически добавляем заголовок из data-label */
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
    color: #818181;
  }
}
.main .chess-table__content .table .styled-table th, .main .chess-table__content .table .styled-table td {
  padding: 12px 15px;
  text-align: left;
}
@media (max-width: 500px) {
  .main .chess-table__content .table .styled-table th, .main .chess-table__content .table .styled-table td {
    padding: 12px 0;
  }
}
.main .chess-table__content .table .styled-table td {
  border-right: 2px solid #D0D0D0; /* Границы между столбцами */
  border-bottom: 2px solid #D0D0D0; /* Границы между строками */
}
.main .chess-table__content .table .styled-table tr td:last-child {
  border-right: none; /* Убираем правую границу у последней колонки */
}
.main .chess-table__content .table .styled-table tr:last-child td {
  border-bottom: none; /* Убираем нижнюю границу у последней строки */
}
@media (max-width: 1366px) {
  .main .chess-table__content .table__title {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main .chess-table__content .table__title {
    font-size: 28px;
  }
}
.main .chess-table__content .table__link {
  color: #3057A2;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.main .chess-table__content .table__link:hover {
  color: #0059ff;
}
@media (max-width: 768px) {
  .main .chess-table__content .table__link {
    font-size: 18px;
  }
}
.main .chess-stages {
  height: 600px;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1366px) {
  .main .chess-stages {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
}
.main .chess-stages__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  font-size: 36px;
  font-family: "Merriweather", serif;
}
.main .chess-stages__content p {
  width: 703px;
  font-size: 54px;
  font-family: "Merriweather", serif;
}
@media (max-width: 768px) {
  .main .chess-stages__content p {
    width: 100%;
    font-size: 28px;
  }
}
.main .chess-stages__content p .subtitle {
  color: #3057A2;
  font-size: 20px;
  font-weight: 400;
  width: 250px;
  font-family: "Golos Text", sans-serif;
  display: inline-block; /* Обеспечивает перенос и правильное отображение */
  margin-top: 10px; /* Можно добавить небольшой отступ для красоты */
  cursor: pointer;
}
.main .chess-stages__content p .subtitle:hover {
  color: #0059ff;
}
@media (max-width: 768px) {
  .main .chess-stages__content p .subtitle {
    font-size: 18px;
    display: block;
    width: auto;
    margin-bottom: 140px;
  }
}
.main .chess-stages__content .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 блока по горизонтали */
  gap: 20px; /* Промежуток между блоками */
  margin-top: 20px;
  height: 400px;
  width: 100%;
  /* Второе изображение через псевдоэлемент */
  /* Объединяем Блок 3 и Блок 6 по вертикали */
  /* Скрываем Блок 6, так как он объединен с Блоком 3 */
  /* Объединяем Блоки 8 и 9 по горизонтали */
  /* Скрываем Блок 9, так как он объединен с Блоком 8 */
}
@media (max-width: 1336px) {
  .main .chess-stages__content .grid-container {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main .chess-stages__content .grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Промежуток между блоками */
    margin-top: 20px;
    height: 100%;
    width: 100%;
  }
}
.main .chess-stages__content .grid-container .grid-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  background-image: url("./img/background_texture1.png"); /* Замените 'your-image-url.jpg' на путь к вашей картинке */
  background-size: cover; /* Картинка масштабируется, чтобы заполнить весь блок */
  background-position: center; /* Центрируем картинку */
  padding: 16px 16px 16px 60px;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  font-family: "Golos Text", sans-serif;
  word-wrap: break-word; /* Перенос длинных слов */
  position: relative;
}
@media (max-width: 768px) {
  .main .chess-stages__content .grid-container .grid-item {
    padding: 60px 16px 60px 60px;
  }
}
.main .chess-stages__content .grid-container .grid-item::before {
  mix-blend-mode: color-burn;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/background_texture.png"); /* Второе фоновое изображение */
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: 1;
}
.main .chess-stages__content .grid-container .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  color: #313131;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 10px;
  left: 10px;
}
@media (max-width: 768px) {
  .main .chess-stages__content .grid-container .circle {
    top: 60px;
  }
}
.main .chess-stages__content .grid-container .airplane {
  width: 330px;
  height: auto;
  position: absolute;
  right: -30px;
  top: 40%;
  bottom: 0;
  transform: translateY(-50%);
  display: none;
}
@media (max-width: 768px) {
  .main .chess-stages__content .grid-container .airplane {
    display: block;
    width: 335px;
    height: auto;
    position: absolute;
    left: 50%; /* Добавляем */
    right: auto; /* Обнуляем */
    transform: translate(-50%, -50%); /* Центрирование по X и Y */
    top: -20%; /* Центрирование по Y */
  }
}
.main .chess-stages__content .grid-container .airplane-image {
  width: 350px;
  height: auto;
  position: absolute;
  right: -70px;
  top: 30%;
  bottom: 0;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .main .chess-stages__content .grid-container .airplane-image {
    display: none;
  }
}
.main .chess-stages__content .grid-container .grid-item-3 {
  grid-row: span 2; /* Занимает 2 строки по вертикали */
}
.main .chess-stages__content .grid-container .grid-item-6 {
  display: none;
}
.main .chess-stages__content .grid-container .grid-item-8 {
  grid-column: span 2; /* Занимает 2 колонки по горизонтали */
}
.main .chess-stages__content .grid-container .grid-item-9 {
  display: none;
}
@media (max-width: 1366px) {
  .main .chess-stages__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 72px;
  }
}
@media (max-width: 768px) {
  .main .chess-stages__content {
    padding: 20px;
  }
}/*# sourceMappingURL=styles.css.map */