@import 'reset.css';
@import 'https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap';

$title-font-family: "Merriweather", serif;
$text-font-family: "Golos Text", sans-serif;

.header {
  width: 100%;
  height: 60px;
  background-color: #E9DED4;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    .logo__img {
      z-index: 2;
      height: auto; /* Сохранять пропорции логотипа */
    }

    @media (max-width: 1366px) {
      padding-left: 72px;
      padding-right: 72px;
    }

    @media (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.main {
  height: 100vh;
  background-color: rgba(255, 114, 114, 0);

  .chess-main {
    width: 100%;
    height: 700px;
    margin-top: -60px;
    background-color: #E9DED4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Скрываются все элементы, выходящие за пределы блока */
    position: relative;

    &__content {
      max-width: 1200px; /* Ширина контента */
      width: 100%;
      margin-top: -80px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      z-index: 1;

        p{
          width: 542px;
          font-family: $title-font-family;
          font-size: 60px;
          font-weight: 400;
          color: #313131;
        }

        .description{
          text-align: center;
          width: 542px;
          font-family: $text-font-family;
          font-size: 18px;
          font-weight: 400;
          margin-top: 24px;
          color: #313131;
        }

        .btns{
          display: flex;
          flex-direction: row;
          gap: 16px;
          margin-top: 40px;

          .btn-add{
            width: 263px;
            color: #ffffff;
            font-size: 16px;
            font-family: $text-font-family;
            font-weight: 500;
            background-color: #1F1F1F;
            padding: 12px 49px;
            border-radius: 66px;
            text-align: center;
            white-space: normal;
            word-wrap: break-word;
          }

          .btn-add:hover{
            color: #1F1F1F;
            background-color: #FBCE51;
          }
  
          .btn-details{
            width: 263px;
            color: #1F1F1F;
            font-size: 16px;
            font-family: $text-font-family;
            font-weight: 500;
            border: 2px solid #1F1F1F;
            padding: 10px 85px;
            border-radius: 66px;
          }

          .btn-details:hover{
            color: #ffffff;
            background-color: #1F1F1F;
          }
        }

        @media (max-width: 1366px) {
          padding-left: 72px;
          padding-right: 72px;
        }

        @media (max-width: 768px) {
          padding-left: 20px;
          padding-right: 20px;
          width: 100%;
          margin-top: -260px;
          display: flex;
          flex-direction: column;
          justify-content: left;
          align-items: flex-start;
          position: relative;

          p{
            width: 100%;
            font-family: $title-font-family;
            font-size: 36px;
            font-weight: 400;
            color: #313131;
          }
      
          .description{
            text-align: left;
            width: 100%;
            font-family: $text-font-family;
            font-size: 18px;
            font-weight: 400;
            margin-top: 16px;
            color: #313131;
          }

          .btns{
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 24px;
            width: 100%;
  
            .btn-add{
              width: 100%;
              color: #ffffff;
              font-size: 16px;
              font-family: $text-font-family;
              font-weight: 500;
              background-color: #1F1F1F;
              padding: 12px 18px;
              border-radius: 66px;
              text-align: center;
              white-space: normal;
              word-wrap: break-word;
            }
  
            .btn-add:hover{
              color: #1F1F1F;
              background-color: #FBCE51;
            }
    
            .btn-details{
              width: 100%;
              color: #1F1F1F;
              font-size: 16px;
              font-family: $text-font-family;
              font-weight: 500;
              background-color: #ffffff;
              border: none;
              padding: 10px 18px;
              border-radius: 66px;
            }
  
            .btn-details:hover{
              color: #ffffff;
              background-color: #1F1F1F;
            }
          }
        }
      }

    .background_texture__img {
      mix-blend-mode: color-burn; /* Наложение с использованием эффекта "color burn" */
      opacity: 0.8;
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Изображение масштабируется, чтобы заполнить контейнер, сохраняя пропорции */
    }

    .background_chess__img {
      position: absolute;
      top: 0;
      width: auto;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 768px) {
      height: 812px;

      .background_chess__img {
        position: absolute;
        top: 50%;
        right: 0;
        width: auto;
        height: 50%;
        object-fit: cover;
      }
    }
  }

  .ticker {
    width: 100%; /* Ширина ленты */
    overflow: hidden; /* Скрываем текст за границами блока */
    background-color: #F54932; /* Цвет фона ленты */
    color: #fff; /* Цвет текста */
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    box-sizing: border-box;
    padding: 10px 0; /* Отступы сверху и снизу */

    &__content {
      font-size: 22px;
      font-family: $title-font-family;
      display: inline-block;
      padding-right: 100px; /* Расстояние между повторяющимися блоками */
      animation: tickerAnimation 30s linear infinite; /* Анимация движения текста */
    }

    /* Анимация */
    @keyframes tickerAnimation {
      0% {
          transform: translateX(0); /* Текст начинает справа */
      }
      100% {
          transform: translateX(-100%); /* Текст уходит влево за границы */
      }
    }
  }

  .chess-title{
    height: 350px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      width: 100%;
      font-size: 36px;
      font-family: $title-font-family;

        .oval {
          top: 50%; /* Центрируем овал по вертикали */
          width: 394px;
          background-color: red; /* Цвет овала */
          border-radius: 50%; /* Делаем его овальным */
          overflow: hidden; /* Скрываем лишние части изображения */
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .oval img {
          width: 400px; /* Изображение растянется по ширине овала */
          height: auto;
        }
    }
  }
}
