@import 'reset.css';
@import 'https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap';

$title-font-family: "Merriweather", serif;
$text-font-family: "Golos Text", sans-serif;

body {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #E9DED4;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    .logo__img {
      z-index: 2;
      height: auto; /* Сохранять пропорции логотипа */
    }

    @media (max-width: 1366px) {
      padding-left: 72px;
      padding-right: 72px;
    }

    @media (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.main {
  height: 100%;
  background-color: rgba(255, 114, 114, 0);

  .chess-main {
    width: 100%;
    height: 700px;
    margin-top: -60px;
    background-color: #E9DED4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Скрываются все элементы, выходящие за пределы блока */
    position: relative;

    &__content {
      max-width: 1200px; /* Ширина контента */
      width: 100%;
      margin-top: -80px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      z-index: 1;

        p{
          width: 542px;
          font-family: $title-font-family;
          font-size: 60px;
          font-weight: 400;
          color: #313131;
        }

        .description{
          text-align: center;
          width: 542px;
          font-family: $text-font-family;
          font-size: 18px;
          font-weight: 400;
          margin-top: 24px;
          color: #313131;
        }

        .btns{
          display: flex;
          flex-direction: row;
          gap: 16px;
          margin-top: 40px;

          .btn-add{
            width: 263px;
            color: #ffffff;
            font-size: 16px;
            font-family: $text-font-family;
            font-weight: 500;
            background-color: #1F1F1F;
            padding: 12px 49px;
            border-radius: 66px;
            text-align: center;
            white-space: normal;
            word-wrap: break-word;
          }

          .btn-add:hover{
            color: #1F1F1F;
            background-color: #FBCE51;
          }
  
          .btn-details{
            width: 263px;
            color: #1F1F1F;
            font-size: 16px;
            font-family: $text-font-family;
            font-weight: 500;
            border: 2px solid #1F1F1F;
            padding: 10px 85px;
            border-radius: 66px;
          }

          .btn-details:hover{
            color: #ffffff;
            background-color: #1F1F1F;
          }
        }

        @media (max-width: 1366px) {
          padding-left: 72px;
          padding-right: 72px;
        }

        @media (max-width: 768px) {
          padding-left: 20px;
          padding-right: 20px;
          width: 100%;
          margin-top: -260px;
          display: flex;
          flex-direction: column;
          justify-content: left;
          align-items: flex-start;
          position: relative;

          p{
            width: 100%;
            font-family: $title-font-family;
            font-size: 36px;
            font-weight: 400;
            color: #313131;
          }
      
          .description{
            text-align: left;
            width: 100%;
            font-family: $text-font-family;
            font-size: 18px;
            font-weight: 400;
            margin-top: 16px;
            color: #313131;
          }

          .btns{
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 24px;
            width: 100%;
  
            .btn-add{
              width: 100%;
              color: #ffffff;
              font-size: 16px;
              font-family: $text-font-family;
              font-weight: 500;
              background-color: #1F1F1F;
              padding: 12px 18px;
              border-radius: 66px;
              text-align: center;
              white-space: normal;
              word-wrap: break-word;
            }
  
            .btn-add:hover{
              color: #1F1F1F;
              background-color: #FBCE51;
            }
    
            .btn-details{
              width: 100%;
              color: #1F1F1F;
              font-size: 16px;
              font-family: $text-font-family;
              font-weight: 500;
              background-color: #ffffff;
              border: none;
              padding: 10px 18px;
              border-radius: 66px;
            }
  
            .btn-details:hover{
              color: #ffffff;
              background-color: #1F1F1F;
            }
          }
        }
      }

    .background_texture__img {
      mix-blend-mode: color-burn; /* Наложение с использованием эффекта "color burn" */
      opacity: 0.8;
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Изображение масштабируется, чтобы заполнить контейнер, сохраняя пропорции */
    }

    .background_chess__img {
      position: absolute;
      top: 0;
      width: auto;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 768px) {
      height: 812px;

      .background_chess__img {
        position: absolute;
        top: 50%;
        right: 0;
        width: auto;
        height: 50%;
        object-fit: cover;
      }
    }
  }

  .ticker {
    width: 100%; /* Ширина ленты */
    overflow: hidden; /* Скрываем текст за границами блока */
    background-color: #F54932; /* Цвет фона ленты */
    color: #fff; /* Цвет текста */
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    box-sizing: border-box;
    padding: 10px 0; /* Отступы сверху и снизу */

    &__content {
      font-size: 22px;
      font-family: $title-font-family;
      display: inline-block;
      padding-right: 100px; /* Расстояние между повторяющимися блоками */
      animation: tickerAnimation 30s linear infinite; /* Анимация движения текста */
    }

    /* Анимация */
    @keyframes tickerAnimation {
      0% {
          transform: translateX(0); /* Текст начинает справа */
      }
      100% {
          transform: translateX(-100%); /* Текст уходит влево за границы */
      }
    }
  }

  .chess-title{
    height: 350px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      width: 100%;
      font-size: 36px;
      font-family: $title-font-family;

        @media (max-width: 1366px) {
          padding-top: 72px;
          padding-left: 72px;
          padding-right: 72px;
        }

        @media (max-width: 900px) {
          padding-top: 72px;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 32px;
        }

        @media (max-width: 768px) {
          font-size: 28px;
          padding-left: 20px;
          padding-right: 20px;
        }

        .text{
          width: 100%;
          @media (max-width: 768px) {
            font-size: 28px;
          }
        }

        .oval {
          top: 50%; /* Центрируем овал по вертикали */
          width: 394px;
          background-color: red; /* Цвет овала */
          border-radius: 50%; /* Делаем его овальным */
          overflow: hidden; /* Скрываем лишние части изображения */
          display: flex;
          justify-content: center;
          align-items: center;

          @media (max-width: 450px) {
            width: 300px; /* Изображение растянется по ширине овала */
            height: auto;
          }

          img {
            width: 400px; /* Изображение растянется по ширине овала */
            height: auto;
            filter: brightness(80%); /* Затемняем изображение */

            @media (max-width: 450px) {
              width: 300px; /* Изображение растянется по ширине овала */
              height: auto;
            }
          }
        }
    }

    @media (max-width: 1366px) {
      height: auto;
    }

    @media (max-width: 900px) {
      height: 100%;
    }
  }

  .chess-table{
    height: 600px;
    padding-top: 32px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: 1366px) {
      padding: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }

    &__content{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 1200px;
      width: 100%;
      font-size: 36px;
      font-family: $title-font-family;

      @media (max-width: 1366px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 72px;
      }

      @media (max-width: 768px) {
        padding: 20px;
      }

      .men_chess {
        opacity: 0.8;
        top: 0;
        left: 0;
        z-index: 0;
        width: 474px;
        height: auto;
        object-fit: cover; /* Изображение масштабируется, чтобы заполнить контейнер, сохраняя пропорции */
      }
  
      .men_chess_fon {
        mix-blend-mode: color-burn;
        position: absolute;
        top: 0;
        width: 474px;
        object-fit: cover;
      }

      .table{
        display: flex;
        flex-direction: column;
        height: 100%;

        @media (max-width: 1366px) {
          width: 100%;
        }

        .styled-table {
          width: 100%;
          margin: 20px auto;
          border-collapse: collapse; /* Убираем двойные границы */
          font-family: $text-font-family;
          font-size: 20px;

          @media (max-width: 500px) {
            tbody, 
            tr, 
            th, 
            td {
              display: block;
              width: 100%;
            }

            /* Убираем границы столбцов */
            td {
              border-right: none;
              padding: 10px;
              position: relative;
            }
          
            /* Скрываем первую ячейку */
            td:first-child {
              display: none;
            }
          
            /* Добавляем заголовок из data-label в ячейках */
            td:last-child:before {
              content: attr(data-label); /* Динамически добавляем заголовок из data-label */
              font-weight: 400;
              display: block;
              margin-bottom: 5px;
              color: #818181;
            }
          }

          th, td {
            padding: 12px 15px;
            text-align: left;

            @media (max-width: 500px) {
              padding: 12px 0;
            }
          }

          td {
            border-right: 2px solid #D0D0D0; /* Границы между столбцами */
            border-bottom: 2px solid #D0D0D0; /* Границы между строками */
          }

          tr td:last-child {
            border-right: none; /* Убираем правую границу у последней колонки */
          }

          tr:last-child td {
            border-bottom: none; /* Убираем нижнюю границу у последней строки */
          }
        }
  
        &__title{
          @media (max-width: 1366px) {
            width: 100%;
          }

          @media (max-width: 768px) {
            font-size: 28px;
          }
        }

        &__link{
          color: #3057A2; 
          font-size: 20px; 
          font-weight: 400;
          cursor: pointer;

          &:hover{
            color: #0059ff; 
          }

          @media (max-width: 768px) {
            font-size: 18px;
          }
        }
      }
    }
  }

  .chess-stages{
    height: 600px;
    padding-top: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: 1366px) {
      padding: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }

    &__content{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      max-width: 1200px;
      width: 100%;
      font-size: 36px;
      font-family: $title-font-family;
      position: relative;

      .airplane {
        width: 330px;
        height: auto;
        position: absolute;
        right: -30px;
        top: 40%;
        bottom: 0;
        transform: translateY(-50%);
        display: none;
      }

      p{
        width: 703px;
        font-size: 54px;
        font-family: $title-font-family;

        @media (max-width: 768px) {
          width: 100%;
          font-size: 28px;
        }

        .subtitle {
          color: #3057A2;
          font-size: 20px;
          font-weight: 400;
          width: 250px;
          font-family: $text-font-family;
          display: inline-block; /* Обеспечивает перенос и правильное отображение */
          margin-top: 10px; /* Можно добавить небольшой отступ для красоты */
          cursor: pointer;

          &:hover{
            color: #0059ff; 
          }

          @media (max-width: 768px) {
            font-size: 18px;
            display: block;
            width: auto;
            margin-bottom: 140px;
          }
        }
      }

      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 блока по горизонтали */
        gap: 20px; /* Промежуток между блоками */
        margin-top: 20px;
        height: 400px;
        width: 100%;

        .grid-item {
          display: flex;
          justify-content: flex-start;
          flex-direction: row;
          gap: 16px;
          background-image: url('../img/background_texture1.png'); /* Замените 'your-image-url.jpg' на путь к вашей картинке */
          background-size: cover; /* Картинка масштабируется, чтобы заполнить весь блок */
          background-position: center; /* Центрируем картинку */
          padding: 16px 16px 16px 60px;
          text-align: left;
          font-weight: 400;
          font-size: 20px;
          font-family: $text-font-family;
          word-wrap: break-word; /* Перенос длинных слов */
          position: relative;

          @media (max-width: 768px) {
            padding: 60px 20px 16px 73px;
            width: 330px;
            height: 300px;
            font-size: 18px;
          }
        }

        .grid-item::before {
          mix-blend-mode: color-burn;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url('../img/background_texture.png'); /* Второе фоновое изображение */
          background-size: cover;
          background-position: center;
          opacity: 0.8;
          z-index: 1;
        }

        .airplane {
          display: none;
        }

        &__grid-item-1{
          display: none;
        }

        &__grid-item-4{
          display: none;
        }

        @media (max-width: 1336px) {
          height: 100%;
          width: 100%;
        }

        @media (max-width: 768px) {
            display: grid;
            grid-template-columns:  repeat(8, 1fr); /* Один блок на всю ширину */
            gap: 0 40px; /* Промежуток между блоками */
            width: 100%;
            height: auto;
            transition: transform 0.5s ease;
            

            /* Скрываем блоки 1 и 2 */
            .grid-item-1, 
            .grid-item-2,
            .grid-item-4,
            .grid-item-5 {
              display: none !important;
            }

            &__grid-item-1{
              display: flex;
              gap: 24px;
              flex-direction: column;
              background-image: url('../img/background_texture1.png'); /* Замените 'your-image-url.jpg' на путь к вашей картинке */
              background-size: cover; /* Картинка масштабируется, чтобы заполнить весь блок */
              background-position: center;
              width: 330px;
              position: relative;
              padding: 60px 20px 16px 20px;
              text-align: left;
              font-weight: 400;
              font-size: 20px;

              .grid-item-a, .grid-item-b{
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                gap: 16px;
                text-align: left;
                font-weight: 400;
                font-size: 18px;
                font-family: $text-font-family;
              }

              .circles {
                display: flex;
                width: 36px;
                height: 36px;
                padding-left: 13px;
                padding-right: 13px;
                justify-content: center;
                align-items: center;
                background-color: #ffffff;
                color: #313131;
                border-radius: 50%;
                font-size: 20px;
                font-weight: 600;
              }
            }

            &__grid-item-1::before {
              mix-blend-mode: color-burn;
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: url('../img/background_texture.png'); /* Второе фоновое изображение */
              background-size: cover;
              background-position: center;
              opacity: 0.8;
              z-index: 1;
            }

            &__grid-item-4{
              display: flex;
              gap: 24px;
              flex-direction: column;
              background-image: url('../img/background_texture1.png'); /* Замените 'your-image-url.jpg' на путь к вашей картинке */
              background-size: cover; /* Картинка масштабируется, чтобы заполнить весь блок */
              background-position: center;
              width: 330px;
              position: relative;
              padding: 60px 20px 16px 20px;
              text-align: left;
              font-weight: 400;
              font-size: 20px;

              .grid-item-a, .grid-item-b{
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                gap: 16px;
                text-align: left;
                font-weight: 400;
                font-size: 18px;
                font-family: $text-font-family;
              }

              .circles {
                display: flex;
                width: 36px;
                height: 36px;
                padding-left: 13px;
                padding-right: 13px;
                justify-content: center;
                align-items: center;
                background-color: #ffffff;
                color: #313131;
                border-radius: 50%;
                font-size: 20px;
                font-weight: 600;
              }
            }

            &__grid-item-4::before {
              mix-blend-mode: color-burn;
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: url('../img/background_texture.png'); /* Второе фоновое изображение */
              background-size: cover;
              background-position: center;
              opacity: 0.8;
              z-index: 1;
            }
        }


        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 36px;
          height: 36px;
          background-color: #ffffff;
          color: #313131;
          border-radius: 50%;
          font-size: 20px;
          font-weight: 600;
          position: absolute;
          top: 10px;
          left: 10px;

          @media (max-width: 768px) {
            top: 60px;
            left: 20px;
          }
        }

        .airplane-image {
          width: 300px;
          height: auto;
          position: absolute;
          right: -35px;
          top: 30%;
          bottom: 0;
          transform: translateY(-50%);

          @media (max-width: 768px) {
            display: none;
          }
        }
      
        .grid-item-1 .grid-item-2 {
          display: block;
        }

        .grid-item-3 {
          grid-row: span 2;
        }

        .grid-item-4 .grid-item-5 {
          display: block;
        }

        .grid-item-6 {
            display: none;
        }

        .grid-item-8 {
          padding: 16px 260px 16px 60px;
          grid-column: span 2;
          @media (max-width: 768px) {
            padding: 60px 20px 16px 73px;
          }
        }

        .grid-item-9 {
            display: none;
        }
      }

      .slider-controls {
        display: none;
      }

      @media (max-width: 1366px) {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 72px;
      }

      @media (max-width: 768px) {
        overflow: hidden;
        padding: 20px;
        display: flex;
        align-items: center;

        .airplane {
          display: block;
          width: 335px;
          height: auto;
          position: absolute;
          right: auto;
          left: 50%;
          transform: translate(-50%, -160%);
          top: 70%;
          z-index: 1;
        }

        .slider-controls {
          display: flex;
          width: 200px;
          padding: 8px 0;
          align-items: center;
          justify-content: space-between;

          .slider-arrow-left,
          .slider-arrow-right {
            fill: #acacac; /* Неактивный цвет */
            cursor: pointer;
            transition: fill 0.3s ease;

            polyline {
              stroke: rgb(255, 255, 255);
            }
          }

          .slider-arrow-left,
          .slider-arrow-right {
            cursor: pointer;
          }

          .slider-arrow-left {
            fill: #acacac; /* Неактивный цвет */
          }

          .slider-arrow-left.active {
            fill: #1d1d1d; /* Активный цвет */
          }

          .slider-arrow-right {
            fill: #1d1d1d; /* Активный цвет */
          }

          .slider-arrow-right.inactive {
            fill: #acacac; /* Неактивный цвет */
          }

          .slider-indicators {
            display: flex;
            gap: 10px;

            .indicator {
              width: 10px;
              height: 10px;
              background-color: #acacac;
              border-radius: 50%;
              cursor: pointer;
              transition: background-color 0.3s ease;
            }

            .indicator.active {
              background-color: #1d1d1d; /* Цвет активного индикатора */
              transform: scale(1.3); /* Увеличение активного блока */
            }
          }

        }
      }
    }
  }

  .chess-users{
    height: 700px;
    padding-top: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: 1366px) {
      padding: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }

    &__content{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      max-width: 1200px;
      width: 100%;
      font-size: 36px;
      font-family: $title-font-family;

      p{
        width: 703px;
        font-size: 54px;
        font-family: $title-font-family;

        @media (max-width: 768px) {
          width: 100%;
          font-size: 28px;
        }
      }

      @media (max-width: 1366px) {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 72px;
      }

      @media (max-width: 768px) {
        overflow: hidden;
        padding: 20px;
        display: flex;
        align-items: center;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 150px;
  background-color: #E9DED4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (max-width: 1366px) {
    padding: 72px;
  }

  @media (max-width: 768px) {
    padding: 40px 20px;
    height: 100%;
  }

  &__text{
    max-width: 1200px;
    font-family: $text-font-family;
    font-size: 16px;
    font-weight: 400;
    color: #7A7672;
  }
}
